<% layout('layouts/boilerplate')%>
<div class="mb-5 text-center">
    <img src="/assets/images/2ND HAND WINDSURF MARKET .png" alt="" >
</div>

    <!-- <h1 class="text-center mb-5">2nd HAND WINDSURF MARKET</h1> -->
    
    <div class="card  bg-info">
        <div class="card-title">
            <h2 class="text-center mt-2"> <a href="/windproducts" style="color:rgb(18, 19, 18)">Accede al Tablón de Productos </a> </h2>
        </div>
    </div>
    
     
